<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="~/img/buttcoin.png">

    <meta property="og:title" content="Buttcoin.xyz" />
    <meta property="og:description" content="Manage your buttcoins on the interwebs!" />
    <meta property="og:url" content="https://buttcoin.xyz" />
    <meta property="og:image" content="https://buttcoin.xyz/img/buttcoin.png" />
    <meta name="theme-color" content="#C89500">

    <title>@ViewData["Title"] - ButtCoin.xyz</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <img src="~/img/buttcoin.png" alt="ButtCoin logo"/>
    <h1>ButtCoin</h1>
</header>

<main>
    @RenderBody()
</main>

</body>
</html>
