@model LinkedModel

@{
    ViewData["Title"] = "Linked Successfully!";
}

<h2>Sucessfully linked!</h2>

<div class="green-block">
    <div>
        <div class="link">
            <img src="~/img/discord.png"  alt="discord logo"/>
            <span>@Model.User.Username#@Model.User.Discriminator</span>
        </div>
    @foreach (var link in Model.Connections)
    {
        <div class="link">
            <img src="~/img/@(link.Type).png" alt="@(link.Type) logo">
            <span>@link.Name</span>
        </div>
    }
    </div>
</div>
