@{
    ViewData["Title"] = "Link Accounts";
}

<h2>Link your Discord Connections</h2>

<div class="blue-block">
    <form method="post">
        <button type="submit">Login with Discord</button>
    </form>
</div>
